# Ignore node_modules para o Next.js
node_modules/

# Build outputs do Next.js
.next/
out/

# Logs do Next.js e FastAPI
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_pycache_/

# Dependências Python
venv/
*.pyc
*.pyo
*.pyd
*.env
Pipfile.lock
.poetry

# Arquivos de banco de dados SQLite
*.sqlite3
db.sqlite3

# Ambiente virtual
env/
.venv/

# Configurações do editor de texto
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários de IDEs
*.swp
*.swo
*.bak

# Test outputs
coverage/
*.cover
htmlcov/
*.coverage

# Ignore arquivos de cache do FastAPI
instance/
*.db
*.sqlite

# Arquivos gerados para pacotes npm e yarn
yarn.lock